# Original author : Jean-Charles BOISSON (2005-2008)
#
# Default configuration file for ASCQ_ME
# All the line with a '#' for first character are considered as commentaries
#
# This file is splitted in different section
# For all the parameters, the style is :
#         parameter_name (space) = (space) value or the key word DEFAULT
#
# To change a value, delete the key word DEFAULT and put a value 
# ex : You want to accord 1 missed cleavages so the line
# MISSED_CLEAVAGES = DEFAULT become MISSED_CLEAVAGES = 1
# to restore the old value, write MISSED_CLEAVAGES = DEFAULT
# 
##################################
# Digestion section
##################################
#
# Give the number of  allowed missed clevages
# DEFAULT = 0
MISSED_CLEAVAGES = DEFAULT
#
# Indicate if all the possible missed cleavages have to be used
# in this case the parameters MISSED_CLEAVAGES is not used
# DEFAULT = NO
FULL_DIGEST = DEFAULT
#
# Indicate the charge to add on peptide result of digestion
# i.e. give the chemical formula
# DEFAULT = H
PEPTIDE_CHARGE = DEFAULT
#
# gives the amino acid used when B is met
# DEFAULT = D
AMINO_ACID_B = DEFAULT
#
# gives the amino acid used when X is met
# DEFAULT = G
AMINO_ACID_X = DEFAULT
#
# gives the amino acid used when Z is met
# DEFAULT = E
AMINO_ACID_Z = DEFAULT
#
# Give the used enzym
# look at the file internal/enztable.aprot ==> 0 = trypsin, 1 = Endoproteinase_Arg_C, ...
# add new enzym in this file if you want to use another enzyms
# DEFAULT = 0
ENZYME = DEFAULT
#
# Give the post-traductional modifications you want to activate (according to the file modification_file)
# The syntax is :
# modif_index (according to the modification file) type : F (for fixed) or V (for variable)
# example : MODIFICATIONS = 1V3F
# DEFAULT = NONE
MODIFICATIONS = DEFAULT
#
# Give the maximum length for a peptide, if a peptide has a length greater than this value, it is not considered during
# the post translational modification computation (if there are activated modifications).
# If you do not need any limitation, put zero <=> MAX_PEPTIDE_LENGTH = 0
# DEFAULT = 30
MAX_PEPTIDE_LENGTH = DEFAULT
#
##################################
# I/O section
##################################
#
# Indicate a filter for the research (the specie)
# DEFAULT = none
SPECIE = HUMAN
#
# Give a mass for the experimental protein <=> filter for the proteins
# from databases ==> must in be in exp_mass +/- tolerance (generally 10%)
# DEFAULT = none
EXP_MASS = 36000.0
#
# Give the type of file used : fasta file or spectra file
# This parameter indicates if the file used is fasta or not (so spectra)
# DEFAULT = YES
FILE_TYPE = DEFAULT
#
# Give the path to the fasta file (used only if FILE_TYPE = YES)
# DEFAULT = _fasta/albumin.fas
FASTA_FILE = _fasta/ker.fas
#
# Give the path to the spectra file (used only if FILE_TYPE = NO)
# DEFAULT = _simulated_spectra/_simulated_spectra.txt
SPECTRA_FILE = DEFAULT
#
# Indicate the number of proteins results we want to display
# DEFAULT = 10
NB_RESULTS = DEFAULT
#
# Indicate the base name used for the output files
# DEFAULT = default
BASE_NAME = DEFAULT 
#
##################################
# Spectra scoring section
##################################
#
# Indicate the Fourier precision
# DEFAULT = 65536
PRECISION = DEFAULT
#
# Indicate the max mass of the peptid
# DEFAULT = 4096
MAX_MASS = DEFAULT
#
# Give the gaussian value for the simulated spectra
# DEFAULT = 0.30
GAUSSIAN = DEFAULT
#
#Gives the peptide maximum mass
# DEFAULT = 16
PEPTIDE_MAX_MASS = DEFAULT
#
#Indicates the peptide precision
# DEFAULT = 8
PEPTIDE_PRECISION = DEFAULT
#
# Indicate the number of C atom distribution save in memory 
# with C fixed ==> H=4C, N=C/2, O=C/4 and S=C/8
# WARNING : if you give a very high value, the program can stop if the
# memory isn't sufficient  
# DEFAULT = 1000
NB_C_ATOM = DEFAULT
#
#Give the minimum experimental mass allowed
# DEFAULT = 700.0
MIN_EXP_MASS = DEFAULT
#
#Give the maximum experimental mass allowed
# DEFAULT = 2500.0
MAX_EXP_MASS = DEFAULT
#
#Indicate the sensitivity used in the spectra multiplication
# DEFAULT = 0.5
SENSITIVITY = DEFAULT
#
#Indicate the threshold allowed for the spectra peaks
# DEFAULT = 0.0000001
THRESHOLD = DEFAULT
#
# Give the path to the experimental spectrum
# DEFAULT = _spectrum_data/Caro.txt
EXPERIMENTAL_SPECTRUM = DEFAULT
